
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.bin
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
ref/
tapes/
besm6img/.7
besm6img/.9
besm6img/.12
besm6img/.37
besm6img/.739
besm6img/.md
besm6img/.txt
besm6img/7
besm6img/9
besm6img/12
besm6img/37
besm6img/739
besm6img/b
besm6img/bemsh
besm6img/lib1
besm6img/lib2
besm6img/librar
besm6img/monsys
besm6img/README
