# Схлопывает все исторические идентичности автора в одну каноничную:
#   EntityFX <entityfx@ya.ru>
# (git shortlog, git log, страница контрибьюторов GitHub применят этот маппинг)
#
# Формат:  Каноничное Имя <каноничный@email>  <старый@email>

EntityFX <entityfx@ya.ru> <entityfx@yandex.ry>
EntityFX <entityfx@ya.ru> <artem.solopiy@gmail.com>
EntityFX <entityfx@ya.ru> <entityfx@ya.ru>
EntityFX <entityfx@ya.ru> <artem.solopiy@icl-services.com>
EntityFX <entityfx@ya.ru> <Artem.Solopiy@icl-services.com>
